.news-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
    align-items: center;
    justify-items: center;
  }
  
  .news-btn {
    appearance: none;
    background-color: #FFFFFF;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    width: 1000px;
    z-index: 1;
  }
  
  .news-btn:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #EBEBEB;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
    color: #000000;
    z-index: 0;
  }
  
  .news-btn:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .news-btn:after {
    background-color: #FFFFFF;
    color: black;
  }
  
  .news-btn span {
    z-index: 1;
    position: relative;
  }
  
  .news-main {
    flex: 1;
    background-image: url("/news.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    position: relative;
    isolation: isolate;
    justify-content: center;
    height: 100%;
  }

  .news-main h1 {
    text-align: center;
    background-color: black;
    box-sizing: border-box;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    color: white;
    border-radius: 3px;
  }
  
  .news-btn .news-btn-content {
    position: relative;
    z-index: 2;
  }